div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj70 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1180px;
height: 820px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj70_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1180px;
	height: 820px;
}
div#obj72 {
position: absolute;
overflow: hidden;
top: 140px;
left: 0px;
width: 1180px;
height: 682px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj72_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1180px;
	height: 682px;
}
div#obj77 {
position: absolute;
overflow: hidden;
top: 66px;
left: 271px;
width: 209px;
height: 143px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj77_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 209px;
	height: 143px;
}
div#obj78 {
position: absolute;
overflow: hidden;
top: 157px;
left: 557px;
width: 185px;
height: 121px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj78_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 185px;
	height: 121px;
}
div#obj79 {
position: absolute;
overflow: hidden;
top: 82px;
left: 948px;
width: 174px;
height: 111px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj79_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 174px;
	height: 111px;
}
div#obj84 {
position: absolute;
overflow: hidden;
top: 557px;
left: 79px;
width: 641px;
height: 199px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj84_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 641px;
	height: 199px;
}
div#obj121 {
position: absolute;
overflow: hidden;
top: 636px;
left: 920px;
width: 213px;
height: 141px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj121_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 213px;
	height: 141px;
}
div#obj266 {
position: absolute;
overflow: hidden;
top: 0px;
left: -246px;
width: 1672px;
height: 820px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj266_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1672px;
	height: 820px;
}
div#obj884 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1180px;
height: 820px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
mix-blend-mode: multiply;
}
img#obj884_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1180px;
	height: 820px;
}

div#obj86 {
position: absolute;
overflow: hidden;
top: 590px;
left: 111px;
width: 602px;
height: 143px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj86_content {
}



div#obj826 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1180px;
height: 60px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: rgba(255,0,0,0.4196078);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,0,0,0);
background-repeat: repeat;
}
div#obj828 {
position: absolute;
overflow: hidden;
top: 759px;
left: 0px;
width: 1180px;
height: 60px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FF0000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,0,0,0);
background-repeat: repeat;
}
div#obj830 {
position: absolute;
overflow: hidden;
top: 379px;
left: 560px;
width: 1180px;
height: 60px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: none;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
transform: rotate(-90deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FF0000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,0,0,0);
background-repeat: repeat;
}
div#obj832 {
position: absolute;
overflow: hidden;
top: 379px;
left: -561px;
width: 1180px;
height: 60px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
transform: rotate(-90deg);
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
background-image: none;
border-color: #FF0000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,0,0,0);
background-repeat: repeat;
}

audio#obj1816 {
position: absolute;
overflow: hidden;
top: 7px;
left: 1224px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj1820 {
position: absolute;
overflow: hidden;
top: 208px;
left: 1223px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj2044 {
position: absolute;
overflow: hidden;
top: 412px;
left: 1222px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
audio#obj3123 {
position: absolute;
overflow: hidden;
top: 621px;
left: 1221px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: "Chelsea-Market-regular";
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText p.Title {
    font-size: 48px;
    font-family: "Chelsea-Market-regular";
    color: black;
    text-align: center;
    line-height: 1.6;
}
.SCText p.body {
    font-size: 28px;
    font-family: "Chelsea-Market-regular";
    color: white;
    text-align: center;
    line-height: 1.6;
}
.SCText p.typewriter {
    font-size: 28px;
    font-family: "Chelsea-Market-regular";
    color: white;
    line-height: 1.6;
}
.drago {
	color: red;
}
.SCPage {
background-color: #FFFFFF
}
